body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, p {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

h1 {
    background: linear-gradient(135deg, #00aaff, #0077cc); /* 渐变蓝色 */
}

h2 {
    background: linear-gradient(135deg, #00cc66, #00994d); /* 渐变绿色 */
}

p {
    background: linear-gradient(135deg, #66ccff, #3399ff); /* 渐变浅蓝色 */
}

.light-blue {
    background: linear-gradient(135deg, #b3e0ff, #99ccff); /* 浅蓝色 */
}

.light-green {
    background: linear-gradient(135deg, #b3ffb3, #99e699); /* 浅绿色 */
}
 button {
    width: 200px; /* 设置按钮宽度 */
    height: 50px; /* 设置按钮高度 */
    font-size: 16px; /* 设置按钮文字大小 */
    background-color: #007bff; /* 设置按钮背景色 */
    color: white; /* 设置按钮文字颜色 */
    border: none; /* 移除按钮边框 */
    border-radius: 5px; /* 设置按钮圆角 */
    cursor: pointer; /* 设置鼠标样式为手型 */
  }
  
  /* 悬停时的样式 */
  button:hover {
    background-color: #0056b3; /* 更改背景色 */
  }
